streamlit
langchain>=0.2.0,<0.3.0
langchain-openai>=0.1.0,<0.2.0
langchain-anthropic>=0.1.0,<0.2.0
langchain-community>=0.2.0,<0.3.0
langchain-text-splitters>=0.2.0,<0.3.0
sentence_transformers
pysqlite3-binary
chromadb
tiktoken
openpyxl
